<xf:if is="$stickedItem.isInsert()">
	<xf:title>{{ phrase('w_fss_add_sticked_item') }}</xf:title>
<xf:else />
	<xf:title>{{ phrase('w_fss_edit_sticked_item:') }} {$stickedItem.name}</xf:title>
</xf:if>

<xf:form action="{{ link('forum-stats-stick/save', $stickedItem) }}">
	<div class="block-container">
		<div class="block-body">
			<xf:textboxrow name="name" value="{$stickedItem.name}"
				label="{{ phrase('w_fss_sticked_item_name') }}" dir="ltr"
			/>
			<xf:textboxrow name="link" value="{$stickedItem.link}" 
				label="{{ phrase('w_fss_sticked_item_link') }}" dir="ltr"
			/>
			<xf:numberboxrow name="display_order" value="{$stickedItem.display_order}"
				label="{{ phrase('display_order') }}"
			/>
			<xf:radiorow name="stick_length" value="{{ !$stickedItem.end_date ? 'permanent' : 'temporary' }}"
				label="{{ phrase('w_fss_stick_length') }}">

				<xf:option label="{{ phrase('permanent') }}" value="permanent" />
				<xf:option label="{{ phrase('until:') }}" value="temporary">
					<xf:dateinput name="end_date" value="{{ $stickedItem.end_date ? date($stickedItem.end_date, 'Y-m-d') : '' }}" />
				</xf:option>
			</xf:radiorow>
			
			<xf:checkboxrow>
				<xf:option name="active" checked="{$stickedItem.active}">{{ phrase('w_fss_sticked_item_active') }}</xf:option> 
			</xf:checkboxrow>
			
			<xf:submitrow sticky="true" icon="save">
				<xf:html>
					<xf:button type="submit" icon="save" name="exit">{{ phrase('save_and_exit') }}</xf:button>
					<xf:button icon="cancel" name="cancel" href="{{ link('forum-stats-stick') }}">{{ phrase('cancel') }}</xf:button>
				</xf:html>
			</xf:submitrow>
		</div>
	</div>
</xf:form>